body {
	background-color: darkorange;
	font-family: 'Gamja Flower', cursive;
}

.wrapper {
	display: flex;
}

header img {
	margin-top: 170px;

}

.info1, .info2 {
  flex: 1;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  margin: 10px;
  padding: 20px;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Gamja Flower', cursive;
font-family: 'Nunito', sans-serif;
}

img:hover {
	content: url(../img/happiness.png);
	
}

#tt {
  font-family: 'Gamja Flower', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Kaushan Script', cursive;
}

aside {
	background-color: darkturquoise;
	width: 200px;
	height: 510px;
	align-content: center;
	padding: 80px;
}

.button1, .button2, .button3, .button4  {
    background-color: dodgerblue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
}

a:hover {
    background-color: darkorange;
}

a {
	text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    /*text-align: center;*/
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}